<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index html one</title>
    <link th:href="@{/css/index2.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Red+Hat+Display&family=Rubik:wght@400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="webjars/bootstrap/4.6.1/css/bootstrap.min.css">
</head>
<body>
<header>
    <main>
        <div class="menu-bar">
            <i class="fas fa-bars"></i>
        </div>
        <div class="logo">
            <img th:src="@{/imges/logo.png}" alt="">
        </div>

        <div class="link">
            <a href="#"> -- Clients
            </a>
            <a href="#">Task manager</a>
            <a href="#">Inbox</a>
            <a href="#">Contacts</a>
        </div>
    </main>

    <aside>
        <nav>
            <div class="input">
                <div>
                    <i class="fas fa-search"></i>
                </div>

                <input type="text" placeholder="Search">
            </div>

            <div class="user-information">
                <div class="icon">
                    <img th:src="@{/imges/bell.png}" alt="">
                    <i class="far fa-envelope"></i>
                </div>

                <div class="user">
                    <img th:src="@{/imges/useer.png}" alt="">
                    <p>Azhar I.
                        <i class="fas fa-angle-down"></i>
                    </p>
                </div>

            </div>

        </nav>

        <div class="container" th:object="${project}">
            <h3 th:text="${project.name}"></h3>

            <div>
                <form th:action="@{/project/close/{id}(id=${project.id})}" method="post">
                    <button type="submit" class="btn btn-primary">Close Project</button>
                </form>

                <form th:action="@{/project/delete/{id}(id=${project.id})}">
                    <button type="submit" class="btn btn-primary">Delete Project</button>
                </form>
            </div>


            <div class="contents" th:object="${participants}">
                <div class="content">
                    <div class="box">
                        <p><b>Date added:</b> <span th:text="${project.createdAt}"> </span></p>
                        <p><b>Deadline:</b><span th:text="${project.deadline}"> </span></p>
                        <p><b>Participants:</b><span th:text="${participants}"></span></p>
                    </div>
                    <div class="content-box">
                        <p>Менеджер для внутреннего пользования, предназначенный для учета статистики и трекинга задач.
                        </p>
                    </div>
                    <div class="boxs" th:object="${frozenTasks}">
                        <div class="boxs2" th:object="${tasksCount}">
                            <div class="boxs3" th:object="${doneTasks}">
                                <p><b>All tasks:</b> <span th:text="${tasksCount}"> </span></p>
                                <p><b>Done:</b> <span th:text="${doneTasks}"></span></p>
                                <p><b>Frozen:</b> <span th:text="${frozenTasks}"></span></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="todoContainer">
                    <tr th:each="column,iter : ${columns}">

                        <div class="todoContent-box">
                            <div class="todo-img">
                                <b  th:utext="${column.name}"></b>
                                <img th:src="@{/imges/plus-circle.png}">
                            </div>

                            <td th:each="task,iter : ${column.tasks}">
                                <div class="todo-box">
                                    <div class="my-box">
                                            <a th:href="@{/task/detail/{id}(id=${task.id})}" th:text="${task.name}" class="btn btn-success mr-4"></a>
                                            <span  th:class="${task.level}" th:text="${task.level}"></span>
                                    </div>
                                    <div class="task-participants" th:each="member,iterMember : ${task.taskMembers}">
                                        <p><span>Participant:  </span> <b th:utext="${member.username}"></b></p>
                                    </div>
                                </div>
                            </td>
                        </div>
                    </tr>
                </div>
            </div>
        </div>
    </aside>

</header>

<script>
    const menu = document.querySelector(".menu-bar")
    const main = document.querySelector("main")
    menu.addEventListener("click", () => {
        main.classList.toggle("open")
    })
</script>
</body>
</html>