<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Detail</title>
    <link th:href="@{/css/index3.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Red+Hat+Display&family=Rubik:wght@400;500;600;700&display=swap"
          rel="stylesheet">
</head>
<body>
<header>
    <main>
        <div class="menu-bar">
            <i class="fas fa-bars"></i>
        </div>
        <div class="logo">
            <img th:src="@{/imges/logo.png}" alt="">
        </div>

        <div class="link">
            <a href="#"> -- Clients
            </a>
            <a href="#">Task manager</a>
            <a href="#">Inbox</a>
            <a href="#">Contacts</a>
        </div>
    </main>

    <aside>
        <nav>
            <div class="input">
                <div>
                    <i class="fas fa-search"></i>
                </div>

                <input type="text" placeholder="Search">
            </div>

            <div class="user-information">
                <div class="icon">
                    <img th:src="@{/imges/bell.png}" alt="">
                    <i class="far fa-envelope"></i>
                </div>

                <div class="user">
                    <img th:src="@{/imges/useer.png}" alt="">
                    <p>Azhar I.
                        <i class="fas fa-angle-down"></i>
                    </p>
                </div>

            </div>
        </nav>

        <div class="container">
            <h4 th:text="${task.name}"></h4>

            <div class="contents">
                <div class="content-actions">
                    <h5>Actions</h5>
                    <div class="actions-box">
                        <h6>CRM system design</h6>
                        <p><b>Activity: </b>12/04/2021, 6:37 p.m </p>
                        <p>Приступил(-а) к задаче</p>
                        <span>
                                <img th:src="@{/imges/Ellipse.png}" alt="">Azhar
                            </span>
                    </div>

                    <div class="actions-box">
                        <h6>CRM system design</h6>
                        <p><b>Activity: </b>12/04/2021, 6:37 p.m </p>
                        <p>Приступил(-а) к задаче</p>
                        <span>
                                <img th:src="@{/imges/Ellipse.png}" alt="">Azhar
                            </span>
                    </div>

                    <div class="actions-box">
                        <h6>CRM system design</h6>
                        <p><b>Activity: </b>12/04/2021, 6:37 p.m </p>
                        <p>Приступил(-а) к задаче</p>
                        <span>
                                <img th:src="@{/imges/Ellipse.png}" alt="">Azhar
                            </span>
                    </div>

                    <div class="actions-box">
                        <h6>CRM system design</h6>
                        <p><b>Activity: </b>12/04/2021, 6:37 p.m </p>
                        <p>Приступил(-а) к задаче</p>
                        <span>
                                <img th:src="@{/imges/Ellipse.png}" alt="">Azhar
                            </span>
                    </div>

                    <div class="actions-box">
                        <h6>CRM system design</h6>
                        <p><b>Activity: </b>12/04/2021, 6:37 p.m </p>
                        <p>Приступил(-а) к задаче</p>
                        <span>
                                <img th:src="@{/imges/Ellipse.png}" alt="">Azhar
                            </span>
                    </div>
                </div>
                <div class="container-box">
                    <div class="content-box">
                        <p th:text="${task.description}"></p>
                    </div>
                    <form th:action="@{/comment/create/{id}(id=${task.id})}">
                        <div class="content-box">
                            <textarea placeholder="Comment..." id="" cols="10" rows="3"></textarea>
                            <button type="submit">Publish</button>
                        </div>
                    </form>

                    <div class="content-box" th:each="comment,iter : ${comments}">
                        <div class="flex">
                            <p class="box-text"><img th:src="@{/imges/avatar.png}" alt=""
                                                     th:text="${comment.ownerName}"></p>
                            <p th:text="${comment.createdAt}"></p>
                        </div>

                        <span th:text="${comment.text}"></span>
                    </div>
                </div>
                <div class="content-status">
                    <div class="status">
                        <div class="status-text">
                            <p>Priority:</p>
                            <button  class="low" th:text="${task.priority}"></button>
                        </div>

                        <div class="status-text">
                            <p>Frozen:</p>
                            <a  class="frozen" th:text="${task.frozen}"></a>
                        </div>

                        <div class="status-text">
                            <p>Deadline:</p>
                            <span th:text="${task.deadline}"></span>
                        </div>

                        <div class="status-text">
                            <p>Participants:</p>
                            <span>Yozilmagan</span>
                        </div>
                    </div>

                    <div class="btn">
                        <button type="submit">Change the priority
                            <img th:src="@{/imges/down.png}" alt="">
                        </button>

                        <button type="submit">Change the priority
                            <img th:src="@{/imges/down.png}" alt="">
                        </button>

                        <button type="submit">
                            <img th:src="@{/imges/usercheck.png}" alt="">Become a participant
                        </button>

                        <button type="submit">
                            <img th:src="@{/imges/ion_snow.png}" alt="">Freeze the task
                        </button>

                        <button type="submit">
                            <img th:src="@{/imges/check.png}" alt="">Close task
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </aside>

</header>

<script>
    const menu = document.querySelector(".menu-bar")
    const main = document.querySelector("main")
    menu.addEventListener("click", () => {
        main.classList.toggle("open")
    })
</script>
</body>
</html>